.navbar-center{
  display: flex;
  justify-content: center;
  align-content: center;
}
.navbar{
  width: 85%;
  height: 65px;
  border-radius:15px ;
}
.navbartoggle{
  border: none;
}
.navbartoggle:focus {
  box-shadow: none;
  outline: none;
}
.btn-close:focus{
  box-shadow: none;
  outline: none;
}
.offcanvas.show:not(.hiding), .offcanvas.showing {
  transform: none;
  width: 75%;
}

.nav-lists{
  color: gray;
  font-size: 1.0rem;
}
:hover{
  color: black;
}
.Arlogo-nav{
  width: 10%;
}
.navbar-center{
  z-index: 1;
  position: sticky;
  top: 20px;
}

@media screen and (max-width: 760px){
  .navbar{
    width: 100%;
    height: 65px;
    border-radius:15px ;
  }
  .Arlogo-nav{
    width: 10%;
  }
}