.bg-footer{
  background-color: rgb(244, 242, 242);
}
.footerlist{
  ul{
    list-style: none;
    padding: 0;
  }
  li{
    padding-top: 5px;
  }
}
.footerline{
  width: 2px;
  height: 55vh;
  padding: 0;
  margin-top: 35px;
  background-color: black;
}
.footer-input{
  width: 230px;
  height: 40px;
  text-align: center;
}
.Footer-btn{
  width: 230px;
  height: 40px;
  text-align: center;
  border-radius: 0% ;
}
.footer-line2{
  width: 220px;
  height: 1px;
  background-color: black;
  margin-top: 17px;
}
.footer-font{
  font-size: 32px;
}
.footer-font1{
  font-size: 36px;
}
.custom-social-link2{
  color: rgb(186, 6, 186);
}
.custom-social-link3{
  color: red;
}
.custom-social-link5{
  color: gray;
}
.custom-social-link6{
  color: skyblue;
}
.col-9{
  padding-top: 28px;
}
.footHome{
  color: black;
  text-decoration: none;
}